<%= simple_form_for(@contact) do |f| %>
  <div>
    <font color="#19070B"><%= f.input :name %></font><br>
  </div>
  <div>
    <font color="#19070B"><%= f.input :email %></font><br>
  </div>
  <div>
    <font color="#19070B"><%= f.input :message, as: :text %></font>
  </div>
  <%= f.submit "Submit" %>
<% end %>
