<%= simple_form_for(@contact) do |f| %>
  <div>
    <%= f.input :name %><br>
  </div>
  <div>
    <%= f.input :email %><br>
  </div>
  <div>
    <%= f.input :message, as: :text %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
